
.logo_header .logo
{
    color: #2e2f42;

}
.logo-studio_f
{
    color: #f4f4fd;
}
.logo-studio_h
{
    color: #2e2f42;
}
body
{font-family: "Roboto", sans-serif;
color: #434455;
font-size: 16px;
line-height: 24;
font-weight: 400;
background-color: #FFFFFF;}

address:hover, .address:focus
{color:#404BBF;}
h2
{font-size: 36px;
font-weight: 700;}
h3
{font-size: 20px;
    font-weight: 500;}

.order-service
{font-size: 16px;
    line-height: 1.5;
font-weight: 500;
color: #FFFFFF;
background-color: #4D5AE5;
letter-spacing: 0.04em;}

.order-service:focus
{background-color: #404BBF;
    }
    .order-service:hover
    {
        background-color: #404BBF;
    }

link
{font-size: 12px;
line-height: 16;}
:team-member
{background-color: 
    #F4F4FD;}
    button
    {cursor: pointer;
        font-style: normal;
        font-weight: 400;}
        .footer
        {color: white;
            background-color: 
            #2E2F42;}
            .logo_header, .logo_footer
            {
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4d5ae5;
            }
            
            .navigation
            {
                font-weight: 500;
                font-size: 16px;
                line-height: 1.5;
              color: #2e2f42;
              letter-spacing: 0.02em;
             }
             .navigation:focus
             {
                color: #404bbf;
             }
             .navigation:hover
             {
                color: #404bbf;  
             }
             
             .contact-us
             {
                font-style: normal; }
                .contact
                {
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color:  #434455;
                    font-size: 16px;
                }
                .contact:focus
                {
                    color: #404bbf; 
                }
                .contact:hover
                
                  {color: #404bbf;} 
                
                
                .title
                {
                    background-color: #2e2f42;

                }
                .help
                {
                    line-height: 1.07;
                    text-align: center;
                    letter-spacing: 0.02em;
                    color: #ffffff;
                    font-size: 56px;
                    font-weight: 700;
                }
   .features
   {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
    
   .describe
   {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-size: 16px;
   }
  .team
{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
 
 .team-members
 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    background-color: #F4F4FD;
 }
 .member_p
 {
    background-color: #FFFFFF;}
    .members
    {
color: #2e2f42;
    }

 
 .team-members
 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

 }
 .members-role
 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .our_portfolio
 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
 }
 
 .portfolio_des
 {
    font-weight: 500;;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 36px
 }
 .portfolio_d
 {
    font-weight: 500;;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
 }
 .instruments
 {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
 .logo_footer .logo-studio
            {color: #f4f4fd;}
            .end 
            {
                line-height: 1.5;
                color: #F4F4FD;
                letter-spacing: 0.02em;
            } 
            .contact-us
            {
                font-style: normal;
            }
            
            
                .portfolio
                {font-size: 36px;
                line-height: 1.11;
                text-align: center;
                letter-spacing: 0.02em;
                text-transform: capitalize;
                color: #2e2f42;
                }
                