.container
{
    max-width: 318px;
    margin: 0 auto;
    padding: 0 15px;
}
*::after,
*::before { box-sizing: border-box;}

h1, h2, h3, p
{
    margin: 0;}
    
    body
{font-family: "Roboto", sans-serif;
color: #434455;
font-size: 16px;
font-weight: 400;
background-color: #FFFFFF;}



ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    }

.visually-hidden
{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img 
{
    display: block;
    max-width: 100%;}    
a
    {text-decoration: none;}
    
button
    {cursor: pointer;
     font-style: normal;
     font-weight: 400;
     border: none;
     border-radius: 4px;}
     
                          /* HEADER */

.header-container
{  display: flex;
   align-items: center;
   height: 54px;}
   .header
     {
        border-bottom: 1px solid #E7E9FC;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     }
   .logo_header 
{ font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 149px;
}

.logo-studio_h
{
    color: #2e2f42;
}
   .nav-list
   {
    display: none;
   }
   .contact-us
   {
    display: none;
   }

.btn-phone_menu
{
    background-color: transparent;
    border: none;
    padding: 0;
}
.phone-menu-icon
{
    fill: #2f2f37;
}
              /*     /HEADER      */

              /*       SECTION HERO     */

.title
{
height: 432px;
background-color: #2e2f42;
align-content: center;
background-image: linear-gradient(
    to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/img_hw/hero-img-phone.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0 auto;
}
@media screen and (max-width: 767px) and (min-resolution: 192dpi)
{
    .title 

    {
        background-image:  linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/img_hw/hero-img-phone@2x.jpg);
    }
}
.help
{
color: #FFFFFF;    
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
max-width: 216px;
margin: 72px 52px;
}
.order-service
{font-size: 16px;
    line-height: 1.5;
font-weight: 500;
color: #FFFFFF;
background-color: #4D5AE5;
letter-spacing: 0.04em;
display: block;
margin: 0 auto;
padding: 16px 32px;
min-width: 169px;
height: 56px;}
           /*       /SECTION HERO    */

           /*    SECTION  OUR FEATURES */
.s_icon
{
    display: none;
}

.list
{
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    margin-top: 96px;
}
.features
{
margin-bottom: 8px;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
}
.describe
{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
            /*   /SECTION  OUR FEATURES */

             /*   OUR TEAM */
.team-members
{
background-color: #F4F4FD;
margin-bottom: 96px;
}
.team
{
padding-top: 96px;
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 72px;
color: #2E2F42;
}       

.member-list
{
display: flex;
flex-direction: column;
row-gap: 72px;
}
.member_p
{
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08),
           0px 1px 1px rgba(46, 47, 66, 0.16),
           0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-wrap {
padding: 32px 16px;
text-align: center;
box-shadow:0px 2px 1px 0px #2E2F4214,
           0px 1px 1px 0px #2E2F4229,
           0px 1px 6px 0px #2E2F4214;}
.members
{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 8px;
color: #2E2F42;
}   
.members-role
{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;
}  
.icon-list-team
{
display: flex;
gap: 24px;
margin-top: 8px;
justify-content: center;
}
.list-icon
{
width: 40px;
height: 40px;
}
.social-links-team
{
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
             /*   /OUR TEAM */

             /*   PORTFOLIO   */
.apps
{
display: none;
}
.portfolio_des
{
font-size: 36px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}
.port
{
display: flex;
flex-direction: column;
row-gap: 48px;
padding-bottom: 96px;
}
.portfolio-wrap 
{
border: 1px solid #E7E9FC;
border-top: none;
padding: 32px 16px;
box-shadow: 0px 1px 6px 0px #2E2F4214;
}
.portfolio_d
{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
margin-bottom: 8px;
}
.instruments
{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
margin-bottom: 32px;
}
              /*   /PORTFOLIO   */

              /*   FOOTER   */
.footer
{
color: #FFFFFF;
background-color:  #2E2F42;
}
.footer-text
{
padding-top: 98px;
margin-bottom: 72px;
display: flex;
flex-direction: column;
align-items: center;
gap: 18px;
}
.logo-footer
{
font-size: 18px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0.03em;
text-align: left;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px; 
}
.logo-studio_f
{
color: #f4f4fd;
}
.header-container
{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
text-align: left;
}
.footer-links
{
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
margin-bottom: 72px;
}
.social-media
{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}
.icon-list-footer
{
display: flex;
gap: 16px;
align-items: center;
}
.list-icon-footer
{
width: 40px;
height: 40px;
}
.social-links-footer
{
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;   
}
.subscription
{
margin-bottom: 96px;
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
}
.sub
{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #FFFFFF;
}
.footer-input
{
width: 288px;
height: 40px;
padding-left: 16px;
font-family: inherit;
font-size: 12px;
line-height: 24px;
letter-spacing: 0.04em;
border: 1px solid #ffffff;
border-radius: 4px;
background-color: transparent;
box-shadow: 0px 4px 4px 0px #00000026;
margin-bottom: 16px;}
.subscribe
{
min-width: 165px;
height: 40px;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
color: #ffffff;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
font-family: "Roboto", sans-serif ;
color: #ffffff;
padding: 8px 24px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 61px;
margin-bottom: 96px;
}
.icon-send
{
fill: #ffffff;
margin-left: 16px;
}
              /*   /FOOTER   */